*{ 
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* navbar */

    
    /* navbar */
    .head{
        width: 100%;
        height: 80px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    
    }
    .logo{
        font-size: 28px;
        font-weight: bold;
        color: white;
    }
    .hamburger{
        display: none;    
    }
    .navbar ul{
        display: flex;
    }
    .navbar ul li a{
        display: block;
        color: white;
        font-size: 20px;
        padding: 10px 20px;
        transition: 0.2s;
        border-radius: 50px;
        margin:0 5px ;
    }
    .navbar ul li a.active {
        color: #11101b;
        background: white;
    }
    .navbar ul li a:hover{
        color: black;
        background-color: white;
    }

    .logo img{
        height: 100px ;
        width: 90px;
        padding: 12px 0px 0px 0px;
        margin: 16px 0px -11px 0px
    }

/* heading */
#heading {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    display: block;
    text-align: center;
    font-size: 4rem;
    color: white;
    height: 400px;

}


/* body */

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

#main{
    margin-top: 0px;
}
.container {
    width: 80vw;
    max-width: 50rem;
    background-color: #eee;
    padding: 3rem 2rem;
    position: relative ;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    box-shadow: 5px 10px 10px #031a42;
    border-radius: 1.2rem;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 2rem;
    margin-top: 0;


}

.container input {
    text-decoration: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #023a4d;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background: #eee;
}

.container button {
    background-color: rgb(65, 65, 219);
    font-weight: 900;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
}

.container button:hover {
    transition: 5ms ease-in;
    background-color: #05526b;
}

.flag-img {
    display: block;
    margin: 1.8em auto 1.2em auto;
    width: 50%;
    min-width: 8rem;
}


#main {
    height: 500px;
}

/* alert */


#countryData {
    margin-top: 20px;
    font-size: 18px;
}

/* about */

#about {
    height: 1000px;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    
}

.about-hd {
    display: block;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(55, 55, 184);
    padding-bottom: 10px;
    color: white !important;
    font-size: 25px;
}
.about-el{
    color: #030303;
}
.about-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #072e72;

}
.about-content span{
    font-style: italic;
  color: #05526b;
  font-size: 25px;
  font-weight: 900;
}
.about-content sub{
   font-family:Arial, Helvetica, sans-serif ;
   font-size: 20px;

}



/* FOOTER */
footer {
    background: #251e1e;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
    position: relative;
    bottom: 0;

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content h3 {
    font-size: 40px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-weight: 400;
}

.content p {
    max-width: 500px;
    margin: 12px auto;
    font-size: 14px;
    line-height: 25px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.socials li {
    margin: 1px 12px;
    text-decoration: none;
    transition: transform 0.2s;

}

.socials li i {
    font-size: 1.6rem;

}

.socials li:hover {
    transform: translateY(-10px);
    color: aqua;
}

.fa {
    color: white;
}

.fa:hover {
    color: rgb(121, 143, 204);
}

.footer-bottom {
    background: #030303;
    text-align: center;
    width: 100%;
    padding: 15px 2px;

}

.footer-bottom p {
    word-spacing: 3px;
    font-size: 14px;
    text-transform: capitalize;
}

.footer-bottom span {

    text-transform: uppercase;
    opacity: .5;
    font-size: 200;
}

/* js */

#name {
    justify-content: center;
    margin: auto;

}

.wrapper {
    display: flex;
    justify-content: space-between;
}
h2{
    text-align: center;
}



/* flag slider */

#marqueee {
    display: grid;
    place-items: center;
}

img {
    width: 50%;
  
}

.containerf {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s Linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
            }
        }
        .slide-image {
            height: 250px;
            width: 250px;
            display: flex;
            align-items: center;
            padding: 10px;
            perspective: 100px;
        }